<!-- The mat-tab-groups are all added to test a problem that Tim Dupuis had in mads
  
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      The <em>best</em> pasta
    </ng-template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
-->

<!-- **** Playing around with Making an array and formatting ****
<h3>Hero Descriptions</h3>

<div *ngFor='let hero of heros; let i = index'>
  <span><b>Index: </b>{{i}}</span><br>
  <span><b>Name: </b>{{hero.name}}</span><br>
  <span><b>HeroId#: </b>{{hero.id}}</span><br><br>
</div>
-->

<!-- **** Initial set of instructions form Angular.io ****
<h2>{{heros[0].name | uppercase}} Details</h2>
<div><span>id: </span>{{heros[0].id}}</div>
<div><span>name: </span>{{heros[0].name}}</div>
-->

<!-- **** Input example from Angular.io ****
<div>
  <label>name: 
    <input [(ngModel)]="heros[0].name" placeholder="name"/>
  </label>
</div>
-->

<!-- **** My Special Hero View ****
<div class=hero-listing-outer *ngFor='let hero of villains; let i = index'>
  <div class=hero-listing-inner>
    <span><b>Index: </b>{{i+1}}</span><br>
    <span><b>Name:</b><span><input [(ngModel)]="villains[i].name" placeholder="name"></span></span><br>
    <span><b>Hero Id#: </b>{{hero.id}}</span><br><br>
  </div>
</div>
-->

<mat-tab-group>

  <mat-tab label="Heroes">
    <div class=hero-listing-outer *ngFor='let hero of heroes; let i = index'>
      <div class=hero-listing-inner >
        <span><b>Index: </b>{{i+1}}</span><br>
        <span><b>Name:</b><input [(ngModel)]='hero.name' placeholder='null'></span><br>
        <span><b>Hero Id#: </b>{{hero.id}}</span><br>
      </div>
    </div>
  </mat-tab>

  <mat-tab label='Villains'>
    <div class=villain-listing-outer *ngFor='let villain of villains; let i = index'>
        <div class=villain-listing-inner>
          <span><b>Index: </b>{{i+1}}</span><br>
          <span><b>Name:</b><span><input [(ngModel)]="villains[i].name" placeholder="name"></span></span><br>
          <span><b>Hero Id#: </b>{{villain.id}}</span><br>
        </div>
      </div>
  </mat-tab>
  
</mat-tab-group>
